@import '../variables';

.bookingRequest {
  background-color: lighten($color-warning, 38%);
  padding: 20px;

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    cursor: pointer;
    a {
      color: $color-primary;
    }
  }
}
.color-warn {
  color: #f90;
}
