@import '../../scss/variables';

.card {
  display: flex;
  border: solid 1px $color-gray-light;
  border-radius: 10px;
  margin: 5px;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }

  &__left {
    display: flex;
    padding: 1rem;
    flex-grow: 0.8;
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;

    &-selected {
      width: 250px;
      margin: 0rem;
      height: 218px;
      object-fit: cover;

      @media only screen and (max-width: 600px) {
        flex-grow: 1;
        object-fit: fill;
        width: 395px;
      }
    }

    &-thumbnails {
      margin: 0rem;
      height: 50;
      width: 56;

      & > img {
        margin-right: 6px;
      }
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex-grow: 1;

    @media only screen and (max-width: 600px) {
      padding-left: 0px;
    }

    &-amenities {
      display: flex;

      li {
        margin: 5px;
      }
    }

    &-icons {
      display: flex;
    }

    &-name {
      display: flex;
      justify-content: space-between;

      &.summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 5px;
      }
    }

    &-name > h2 {
      margin: 5px 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    justify-content: flex-end;
    background-color: #e8e8e8;
    align-items: flex-end;
    padding: 15px;
    border-radius: 10px;

    &-save {
      font-size: small;
    }
    &-price {
      margin-bottom: 10px;
      text-align: right;
      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
        flex-grow: 1;
      }
    }

    &-costprice {
      text-decoration: line-through;
      font-size: 12px;
      margin: 0;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    &-sellprice {
      font-weight: 700;
      font-size: 25px;
      margin: 0;

      @media only screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    &-tax {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
