@import "./scss/variables";
@import "./scss/utils";
@import "./scss/components/pillbox";
@import "./scss/components/propertycard";
@import "./scss/components/button";
@import "./scss/components/ratings";
@import "./scss/components/mmt-assured";
@import "./scss/components/booking";
@import "./scss/components/tag";
@import "./scss/components/banner";
@import "./scss/components/header";
@import "./scss/components/input";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 30px;

  @media screen and (min-width: 600px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
