.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-small {
    font-size: small;
  }
}

.bold {
  font-weight: 700;
}

.margin {
  &-0 {
    margin: 0;
  }
}

.bg-success {
  background-color: $color-success;
}

.bg-dark {
  background-color: $color-dark;
}

.bg-warn {
  background-color: $color-warning;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-info {
  background-color: $color-info;
}

.bg-danger {
  background-color: $color-danger;
}

.bg-light {
  background-color: $color-light;
}

.bg-success {
  color: $color-success;
}

.bg-secondary {
  color: $color-secondary;
}

.bg-light {
  color: $color-light;
}

.color-warn {
  color: $color-warning;
}

.color-primary {
  color: $color-primary;
}

.color-info {
  color: $color-info;
}

.color-danger {
  color: $color-danger;
}

.color-light {
  color: $color-light;
}

.color-dark {
  color: $color-dark;
}

.color-success {
  color: $color-success;
}

.color-secondary {
  color: $color-secondary;
}

.color-light {
  color: $color-light;
}
