$color-primary: #1266f1;
$color-secondary: #b23cfd;
$color-success: #00b74a;
$color-info: #39c0ed;
$color-warning: #ffa900;
$color-danger: #bf360c;
$color-light: #fbfbfb;
$color-dark: #262626;

$color-gray-light: #a9a9a9;
$color-gray: #808080;
$color-gray-darker: #606060;

$height-lg-screens: 80px;
$bg-color-lg-screens: #e4e3e2;
